<h3>Generate and Download Excel File in Angular 7</h3>    
<div class="container">    
        <input type="file"
        id="file"
        (change)="changeListener($event)" class="btn btn-info mb-4 mt-2">   
        <input type="file"
        id="file2"
        (change)="changeListener($event)" class="btn btn-info mb-4 mt-2">   

<table class="table table-striped table-bordered table-hover">    
 <tr>    
   <th>Name</th>    
   <th>Month</th>    
   <th>Sales</th>    
   <th>Percentage</th>    
 </tr>    
 <tr *ngFor="let item of excel">    
   <td>{{item.Nr}}</td>    
   <td>{{item.Kund}}</td>    
   <td>{{item.kontakt}}</td>    
   <td>{{item.Kund}}</td>    
 </tr>    
</table>    
</div>   





